h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(168, 76, 99);
  font-weight: 600;
  font-size: 30pt;
}

div{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  background-color: rgb(201, 199, 202);
}

input[type=text]{
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 2px;
  width: 50%;
  height: 25px;
  color: rgb(112, 110, 110);
  font-weight: 600;
  font-size: medium;
}

input[type=submit]{
  height: 30px;
  border-radius: 20%;
  cursor: pointer;
  border: 1px;
  background-color: rgb(168, 76, 99);
  color: rgb(255, 255, 255);
}

li{
  list-style: none;
  font-size: medium;
  font-weight: 600;
  color: rgb(78, 78, 78);
}


